<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Autodesk.Forge.WpfCsharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Autodesk.Forge.WpfCsharp.Properties.Settings>
            <setting name="FORGE_CLIENT_ID" serializeAs="String">
                <value />
            </setting>
            <setting name="FORGE_CLIENT_SECRET" serializeAs="String">
                <value />
            </setting>
            <setting name="PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="FORGE_CALLBACK" serializeAs="String">
                <value />
            </setting>
            <setting name="TOKEN_URL" serializeAs="String">
                <value />
            </setting>
            <setting name="SERIAL_NUMBER" serializeAs="String">
                <value />
            </setting>
            <setting name="_2LEGGED" serializeAs="String">
                <value />
            </setting>
            <setting name="_3LEGGED" serializeAs="String">
                <value />
            </setting>
        </Autodesk.Forge.WpfCsharp.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.8.10.0" newVersion="106.8.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
