<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autodesk.Forge" version="1.8.0" targetFramework="net472" />
  <package id="Autodesk.Maya.Theme" version="0.1.0" targetFramework="net472" />
  <package id="cef.redist.x64" version="85.3.13" targetFramework="net472" />
  <package id="cef.redist.x86" version="85.3.13" targetFramework="net472" />
  <package id="CefSharp.Common" version="85.3.130" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="86.0.241" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="RestSharp" version="106.11.7" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>